{% extends 'base.html' %}

{% block title %} JYT | Home {% endblock title %}

{% block homeActive %}active{% endblock homeActive %}

{% block body %}
<!-- <h1>This Home Page</h1> -->
<div class="container my-2">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Check Out JYT Blogs: </h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to
            look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's
            content for equal-height.</p>
        <a href="/blog"><button class="btn btn-outline-secondary" type="button"> Go To Blogs</button></a>
    </div>

</div>
{% endblock body %}